%h1 Fighters in Roster:
- @fighter.each do |fighter|
	.fighter
		%h2.buttons
			= image_tag fighter.image.url(:thumb)
			= link_to "#{fighter.first_name} #{fighter.last_name}", fighter, class: "button"

