.skill
	%p
		= skill.name
		\- #{skill.level} lvl
		= link_to "Edit", edit_fighter_skill_path(skill.fighter, skill)	
		= link_to "Delete", [skill.fighter, skill], method: :delete, data: {confirm: "Are you sure?"}	
