%h1 
	Winner is:
	= @fight.winner
%h3 
	His experience is:
	= @fight.winner.experience

%h3 
	His statats now:

%p
	Wins
	= @fight.winner.wins
	\:
	= @fight.winner.losses
	Losses

%p
	=@fight.winner.skills.sum(:level)