/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require_self
 */
// - - - - - - - - - - - - - - Variables - - - - - - - - - - - - - - - - - -

$green: #33CD99;

// - - - - - - - - - - - - - - Global Styles - - - - - - - - - - - - - - - -

.wrapper {
	width: 60%;
	max-width: 1140px;
	margin: 0 auto;
}

.fighter_image {
	float: right;
}

.cf:after, .cf:before {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

hr {
	border-top: 2px solid #eee;
}

.padding_span {
	padding-left: 3rem;
}

// - - - - - - - - - - - - - - Buttons Styles - - - - - - - - - - - - - - - -

.buttons {
	margin-top: 0rem;
	a.button {
		padding: .2rem 2rem;
		border-radius: 2rem;
		text-decoration: none;
		color: $green;
		border: 5px solid #E9E9E9;
		background: transparent;
	}
}

.submit_btn {
	border: none;
	outline: none;
	background: $green;
	padding: 0.5rem 1.5rem;
	border-radius: 2rem;
	margin-top: 1.5rem;
	color: white;
	a {
		color: white;
		text-decoration: none;
	}
}

// - - - - - - - - - - - - - - Skill Styles - - - - - - - - - - - - - - - -

.skill {
	text-align: left;
	margin-top: 3rem;

	.buttons {
		display: inline;
		float: right;
		padding-right: 240px;

	}

	p {
		display: inline;	
	}
}

// - - - - - - - - - - - - - - Fighter Styles - - - - - - - - - - - - - - - -

.fighter {
	text-align: left;
	margin-top: 3rem;

	.buttons {
		display: inline;
		float: right;
		padding-right: 240px;

	}

	img {
		display: inline;	
	}
}