!!!
%html
	%head
		%title FightClub
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		%nav.navbar.navbar-default
			.container-fluid
				.navbar-header
					%a.navbar-brand{:href => "#"} Fight Club
					%ul.nav.navbar-nav
						%li.active
							=link_to "Home", root_path
						%li
							=link_to "New Fighter", new_fighter_path	

	.wrapper
		= yield