!!!
%html
	%head
		%title FightClub
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		%header
			.header_inner
				.brand
					=link_to "DARKEST DUNGEON", root_path
				%nav
					=link_to "Leaderboard", fighters_leaderboard_path	
					=link_to "New Fighter", new_fighter_path	
					=link_to "New Fight", new_fight_path	


	.wrapper
		= yield